/* adds font to website */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;500;700&display=swap');

/* adding variables so I don't have to memorize hex codes and other formatting */
:root{
    --main-color: #4b8864;
    --bg: #c6cdc6;
    --light-color: #aae1c1;
    --black: #444;
}

/* using the reset CSS to get rid of all stylization */

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }

  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

/* everything on the site will have these properties: chosen font, all text decorations removed
(unless I choose to add a decoration to that specific object), scrolling via link will be done slowly */
*{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}


/* when text is selected, it will adhere to the following properties (makes the design look more unified!)*/
*::selection{
    background: var(--main-color);
    color: #fff;
}

/* changes our scrollbar's width */
html::-webkit-scrollbar{
    width: 20px;
}

/* make the background of the scrollbar "black" (our slightly lighter version of it, anyway) */
html::-webkit-scrollbar-track{
    background: var(--black);
}

/* makes the thumb of the scroll light green */
html::-webkit-scrollbar-thumb{
    background: var(--light-color)
}

/* gives us our hero image */
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1)), url('../assets/night-sky.png');
    padding: 32px;
    color: var(--light-color);
    text-align: center;
}

navbar{
    /* the navbar will follow us when we scroll down for ease of access */
    position: sticky;
    top: 0px;
    /* z-index makes sure our navbar is on top of everything else (like a layer) */
    z-index: 1000;
    background: var(--main-color);
    margin: 0;
    padding: 16px 9%;
    display: flex;
}

/* links inside of the navbar*/
navbar > a{
    color: #fff;
    margin-left: 24px;
    padding: 12px;
    border-radius: 20px;
}

/* when hovered over with mouse pointer, the links will change colour */
navbar > a:hover{
    color: var(--light-color);
    background-color: var(--black);
}

main{
    background-color: var(--bg);
}

footer{
    background: var(--black);
    color: white;
}